body {
    width: 90%;
    margin: auto;
    background-color: #333333;
    color: white;
}
blockquote {
    width: 50%;
    margin: auto;
    font-size: 160%;
    background-color: #e4e4e4;
    border-left: 3px solid #444444;
    padding: 80px 0px 80px 30px;
}
q {
    font-style: italic;
}
.neighbour {
    border-left: white 2px solid;
}
.farmer {
    border-left: red 2px solid;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}