/* Styling the body will apply it throughout your entire page, considering all your content should really be in there. */
body {
    width: 90%;
    margin: auto;
    background-color: whitesmoke;
    color: #2d2d2d;
    /* Open Sans is the font I'm using from google fonts. It's very important to always include a 'backup' font. Sans-serif in my case. If for some reason google's servers aren't functioning and can't load the font your text will still show. */
    font-family: 'Open Sans', sans-serif;
}
/* What I'm saying with this one is essentially :"If the first child (element) of the header is an H1, make the background colour yellow." */
header h1:first-child {
    /* this is a background colour with opacity, neat. (the 0.62 number there) */
    background-color: rgba(200, 255, 46, 0.62);
    padding: 2%;
}
header p:first-child {
    font-style: italic;
}
q {
    font-style: italic;
}
img {
    float: left;
    margin: 2% 2% 2% 0;
    width: 40%;
    display: inline-block;
}
/* Position:fixed is saying it should always remain in place, even if we start scrolling. */
#notification {
    background-color: whitesmoke;
    padding: 0.3%;
    border:3px solid #DDDDCC;
    width:250px;
    font-weight:bold;
    color: #333300;
    position:fixed;
    bottom:0;
    right:0;
    z-index: 3;
}
/* These classes here are used throughout the entire document, they provide small style changes that for instance: are applied to words that appear often. */
/* When the neighbours speak */
.neighbour {
    border-left: blue 3px solid;
}
/* When the farmer speaks */
.farmer {
    border-left: red 3px solid;
}
/* Every instance of the word 'good' */
.good {
    color: forestgreen;
}
/* Every instance of the word 'bad' */
.bad {
    color: red;
}

#story {
    margin-bottom: 2%;
    display: inline-block;
    width: 50%;
}
/* First of type selects and styles the first specified element of the parent. In clearer words, here I'm saying "Style the first p in the article #story" */
#story p:first-of-type {
    font-weight: bold;
    font-family: "Geneva", Times, serif;
}
/* This one styles every p in the article #story, the additions above are only applied to the first one.  */
#story p {
    margin-top: 1%;
}
#story h2:first-of-type {
    margin: 1%;
}
/* This is just a horizontal line. It now has semantic meaning and defines a thematic break. In visual browsers this still displays as an actual line but it's safer to style it in css. */
hr {
    margin-bottom: 2%;
}
table {
    caption-side: bottom;
    margin: auto;
}
/* nth-child requires you to specify a bit further. You can put in a simple number (For instance: 2, then it would style every second child of the parent) or even equations. In this file I style every even and odd numbered table row with a different colour. */
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #295e0b;
    color: whitesmoke;
}
blockquote {
    width: 50%;
    margin: auto;
    font-size: 160%;
    background-color: #e4e4e4;
    border-left: 3px solid #444444;
    padding: 80px 0 80px 30px;
}
footer {
    font-size: 80%;
    text-align: center;
}
/* Styling links. Each 'state' is a different line */
/* Unvisited */
a:link {
    color: red;
    text-decoration: none;
}
/* Visited */
a:visited {
    color: green;
    text-decoration: none;
}
/* Mouse over */
a:hover {
    color: hotpink;
    text-decoration: none;
}

/* --------------------------- Presentation aid aka don't bother looking at this unless you really want to --------------------- */
header {
    background-color: #f76f47;
    border: 3px solid #9c4c2f;
}
section {
    background-color: #367eb8;
    border: 3px solid #23567c;
}
article {
    background-color: #45bf31;
    border: 3px solid #367e24;
    width: 50%;
    margin: auto;
}
footer {
    background-color: #fffc42;
    border: 3px solid #a0933e;
}
#shitlist {
    margin-left: 42%;
}
.container {
    position: relative;
    margin-bottom: 2%;
}
.bottomtext {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1%;
    font-size: 200%;
    color: #757478;
    font-weight: bold;
    text-shadow: 2px 2px black;
}